<a href="https://cognitiveclass.ai"><img src = "https://ibm.box.com/shared/static/9gegpsmnsoo25ikkbl4qzlvlyjbgxs5x.png" width = 400> </a>

<h1 align=center><font size = 5>Segmenting and Clustering Neighborhoods in Toronto</font></h1>

#### First we import all the libraries

In [3]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

#### Load data from wikipedia
Then we load all the data from the wikipiedia. We use request and beautiful soup

In [9]:
wikiurl="https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
table_class="wikitable sortable jquery-tablesorter"
response=requests.get(wikiurl)

soup = BeautifulSoup(response.text, 'html.parser')
indiatable=soup.find('table',{'class':"wikitable"})

200

#### Convert data to dataframe

In [13]:
df=pd.read_html(str(indiatable))
df=pd.DataFrame(df[0])
display(df.head())

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

### Drop the cells where Borough is not assigned, and if Borough is assigned but Neighbourhood no, neighbourhood will get the value from Borough

In [14]:
index = df[ (df['Borough'] == 'Not assigned')  ].index
df.drop(index,inplace=True)
df=df.reset_index(drop=True)
for i,row in df.iterrows():
    if(row['Neighbourhood']=='Not assigned'):
        row['Neighbourhood']=row['Borough']

display(df)

    Postal Code  ...                                      Neighbourhood
0           M3A  ...                                          Parkwoods
1           M4A  ...                                   Victoria Village
2           M5A  ...                          Regent Park, Harbourfront
3           M6A  ...                   Lawrence Manor, Lawrence Heights
4           M7A  ...        Queen's Park, Ontario Provincial Government
..          ...  ...                                                ...
98          M8X  ...      The Kingsway, Montgomery Road, Old Mill North
99          M4Y  ...                               Church and Wellesley
100         M7Y  ...  Business reply mail Processing Centre, South C...
101         M8Y  ...  Old Mill South, King's Mill Park, Sunnylea, Hu...
102         M8Z  ...  Mimico NW, The Queensway West, South of Bloor,...

[103 rows x 3 columns]

### Call function shape to check the results

In [16]:
df.shape

(103, 3)